.car__character {
  background: blueviolet;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
}

.car__title {
  color: whitesmoke;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 30px;
}

.car__stamp {
  display: block;
  margin-bottom: 20px;
  background: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 8px 5px;
  margin-left: 20px;
  width: 50%;
}

.car__speed {
  margin-bottom: 20px;
  background: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 8px 5px;
  margin-left: 20px;
  width: 50%;
}

.car__release {
  margin-bottom: 20px;
  background: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 8px 5px;
  margin-left: 20px;
  width: 50%;
}

.car__country {
  margin-bottom: 20px;
  background: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 8px 5px;
  margin-left: 20px;
  width: 50%;
}

.car__weight {
  margin-bottom: 20px;
  background: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 8px 5px;
  margin-left: 20px;
  width: 50%;
}

.car__image {
  margin-bottom: 20px;
  background: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 8px 5px;
  margin-left: 20px;
  width: 50%;
}

.car__button {
  background: rgb(241, 197, 197);
  padding: 8px 5px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 30px;
  width: 90%;
  cursor: pointer;
}

.car__card {
  padding: 10px;
  margin: 0 auto;
}

.main__img {
  width: 100%;
  border-radius: 50px;
  margin-top: 30px;
}

.main__stamp {
  background: rgb(241, 197, 197);
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(104, 62, 62);
  border-radius: 30px;
}

.main__speed {
  background: rgb(241, 197, 197);
  padding: 10px;
  padding-left: 30px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(104, 62, 62);
  border-radius: 30px;
}

.main__release {
  background: rgb(241, 197, 197);
  padding: 10px;
  padding-left: 30px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(104, 62, 62);
  border-radius: 30px;
}

.main__country {
  background: rgb(241, 197, 197);
  padding: 10px;
  padding-left: 30px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(104, 62, 62);
  border-radius: 30px;
}

.main__weight {
  background: rgb(241, 197, 197);
  padding: 10px;
  padding-left: 30px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(104, 62, 62);
  border-radius: 30px;
}

/* .list {
  background: yellow;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.igor {
  color: green;
}

.btn {
  background: blue;
  color: whitesmoke;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  cursor: pointer;
} */